<h1>Welcome Agent</h1>
<div class="row">
  <div class="col-md-2">
    <a href="/users/admindash" class="btn btn-primary btn-block">Home</a>
    <a href="/users/admindash1" class="btn btn-primary btn-block">Marker</a>
    <a href="/get-all-locations" class="btn btn-primary btn-block">Messages</a>
    <a href="/get-all-messages" class="btn btn-primary btn-block">Sentiment Analysis</a>
  </div>
  <div class="col-md-5">
      <div id="main">
        <form action="/analyze" method="POST" class="form-inline">
          <p><select name="selectedText" class="form-control">
            {{# each items }}
              <option value="{{ this.location.message}}">{{ this.location.message}}</option>
            {{/each}}
          </select>
          <button type="submit" class="btn btn-primary">Submit</button></p>
        </form>
        <p>Message: {{ text}} </p>
        <p>Sentiment-type: {{ sentiment.type}} </p>
        <p>Sentiment-score: {{ sentiment.score}} </p>
      </div>
  </div>
  <div class="col-md-5">
    <canvas id="myChart" style="max-width: 100%; max-height: 100%;"></canvas>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var textscore = {{ sentiment.score}};
  var sentimentType = "{{sentiment.type}}";
  console.log(sentimentType);
  if(sentimentType=="positive"){
    var pov1 = 1+textscore;
    var data1 = {
      labels: [
          "Negative",
          "Neutral",
          "Positive"
      ],
      datasets: [
          {
              label: "Sentiment Analysis for Messages",
              data: [ 0, textscore, pov1 ],
              backgroundColor: [
                  "#e74c3c",
                  "#f1c40f",
                  "#3498db"
              ],
              hoverBackgroundColor: [
                  "#e74c3c",
                  "#f1c40f",
                  "#3498db"
              ]
          }]
    };
  }
    if (sentimentType=="negative") {
      var neg2 = 1-textscore;
      var neu2 = -textscore;
      var data1 = {
        labels: [
            "Negative",
            "Neutral",
            "Positive"
        ],
        datasets: [
            {
                label: "Sentiment Analysis",
                data: [ neg2, neu2, 0 ],
                backgroundColor: [
                    "#e74c3c",
                    "#f1c40f",
                    "#3498db"
                ],
                hoverBackgroundColor: [
                    "#e74c3c",
                    "#f1c40f",
                    "#3498db"
                ]
            }]
      };
    }
    if (sentimentType=="neutral") {
    var data1 = {
      labels: [
          "Negative",
          "Neutral",
          "Positive"
      ],
      datasets: [
          {
              label: "Sentiment Analysis for Messages",
              data: [ 0, 0.5, 0 ],
              backgroundColor: [
                  "#e74c3c",
                  "#f1c40f",
                  "#3498db"
              ],
              hoverBackgroundColor: [
                  "#e74c3c",
                  "#f1c40f",
                  "#3498db"
              ]
          }]
    };
}


  var myChart = new Chart(ctx,{
    type: 'bar',
    data: data1,
    // options: options
});
</script>
